<!--
	head_minimal launch   
 -->
<launch>
	<arg name="rviz" default="false"/>
	<arg name="gui" default="false"/>

	<arg name="sim" default="false"/>
	<arg name="arm_type" default="pincher"/>

	<!-- <node name="head_controller" pkg="bart" type="head_controller.py" output="screen"></node> -->
	<node name="light_controller" pkg="bart" type="light_controller.py" output="screen"></node>

	<node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen">
		<rosparam file="$(find bart)/config/head_robot.yaml" command="load"/>
		<!-- <param name="sim" value="$(arg sim)"/> -->
	</node>

	
</launch>
