<!--
	head_minimal launch   
 -->
<launch>
	<arg name="rviz" default="false"/>
	<arg name="gui" default="false"/>

	<arg name="sim" default="false"/>
	<arg name="arm_type" default="pincher"/>

	<!-- <node name="fake_joint_pub" pkg="turtlebot_arm_bringup" type="fake_joint_pub.py"/> -->

	<node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen">
		<rosparam file="$(find bart)/config/head_robot.yaml" command="load"/>
		
		<!-- <param name="sim" value="$(arg sim)"/> -->
	</node>

	
</launch>
